section#page-content{
	margin-top: 85px;
}
#block-drupalslave-main-menu{
	margin-left: auto;
}
.tabs.primary{
	padding: 10px;
    background: #58bfde;
    margin-bottom: 10px;
}
input.delete-product{
	color: transparent;
    right: -9px;
    background: transparent;
}
.user-authenticated-administrator .fixed-top{
	top: 70px;
	z-index: 300;
}
#drupalslave-panel-wrapper{
	margin: 30px 0px;
}
.drupalslave-log-form .facebook{
	border: 0px solid aquamarine;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-width: 5px;
}
.drupalslave-log-form .google{
	border: 0px solid aquamarine;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-width: 5px;
}
li.cart-detail{
	list-style: none;
}

/*Checkout page*/
.checkout-pane{
	width: 100%;
}
.paypal-powered-by{
	display: none;
}

input[type=text], select, textarea {
  padding: 12px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
