<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 theme-feat"><img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}" /></div>
	<div class="theme-features-title">{{ content.field_title.0 }}</div>
</div>